<div class="row">
    <div class="col-md-2">
        <h1>Examples</h1>
        <ul>
            <li><a href="#"
                   data-dojo-attach-event="onclick:showGettingStartedExample">Getting Started</a></li>
            <li><a href="#"
                   data-dojo-attach-event="onclick:showClassesExample">Classes</a></li>
            <li><a href="#"
                   data-dojo-attach-event="onclick:showModulesExample">Modules</a></li>
            <li><a href="#"
                   data-dojo-attach-event="onclick:showWidgetsExample">Widgets</a></li>
        </ul>
    </div>
    <div class="col-md-10">
        <div data-dojo-type="meetup/example/GettingStarted"
             data-dojo-attach-point="gettingStartedExampleNode"></div>
        <div data-dojo-type="meetup/example/Classes"
             data-dojo-attach-point="classesExampleNode"></div>
        <div data-dojo-type="meetup/example/Modules"
             data-dojo-attach-point="modulesExampleNode"></div>
        <div data-dojo-type="meetup/example/Widgets"
             data-dojo-attach-point="widgetsExampleNode"></div>
    </div>
</div>