<div>
    <h2>Classes</h2>

    <h3>1. Defining and using a Class</h3>
    <pre><code class="javascript">var Person = declare(null, {
    constructor: function (name, age) {
        this.name = name;
        this.age = age;
        this.city = city;
    }
});

var radek = new Person("Radek", 30, "Poznań");

console.log(radek.name, radek.age, radek.city); // "Radek", 30, "Poznań"</code></pre>

    <h3>2. Using mixin(), safeMixin(), extend()</h3>
    <table class="table table-bordered">
        <tbody>
        <tr>
            <th>Method:</th>
            <th>lang.mixin</th>
            <th>declare.safeMixin</th>
            <th>lang.extend</th>
        </tr>
        <tr>
            <th>Operates on</th>
            <td>object</td>
            <td>object</td>
            <td>object.prototype</td>
        </tr>
        <tr>
            <th>Mixes in <i>constructor</i> property</th>
            <td>yes</td>
            <td>no</td>
            <td>yes</td>
        </tr>
        <tr>
            <th>Mixes in multiple objects at once</th>
            <td>yes</td>
            <td>no</td>
            <td>yes</td>
        </tr>
        <tr>
            <th>Annotates functions to support <i>this.inherited</i></th>
            <td>no</td>
            <td>yes</td>
            <td>no</td>
        </tr>
        <tr>
            <th>Speed</th>
            <td>fast</td>
            <td>slow</td>
            <td>fast</td>
        </tr>
        <tr>
            <th>Use primarily with</th>
            <td>A plain object</td>
            <td>A declare instance</td>
            <td>A constructor</td>
        </tr>
        </tbody>
    </table>
    <pre><code class="javascript">var Person = declare(null, {
    name: "Anonymous",
    age: null,
    city: "Dumpster",

    constructor: function (args) {
        lang.mixin(this, args);
    },

    moveTo: function (city) {
        this.city = city;
    }
});

var anonymous = new Person(),
    radek = new Person({name: "Radek", age: 30, city: "Poznań"});

console.log(anonymous.name, anonymous.age, anonymous.city); // "Anonymous", null, "Dumpster"
console.log(radek.name, radek.age, radek.city); // "Radek", 30, "Poznań"

radek.moveTo("Międzychód");

console.log(radek.city); // "Międzychód"</code></pre>

    <h3>3. Instance and static objects</h3>
    <pre><code class="javascript">var Demo = declare(null, {
    arr: [ 1, 2, 3, 4 ], // object. shared by all instances!
    num: 5,              // non-object. not shared.
    str: "string",       // non-object. not shared.
    obj: new Foo(),      // object. shared by all instances!

    constructor: function () {
        this.arr = [ 1, 2, 3, 4 ]; // per-instance object.
        this.obj = new Foo();      // per-instance object.

        console.debug("this is Demo object #" + Demo.counter++);
    }
});

Demo.counter = 0;

var sample = new Demo();</code></pre>

    <h3>4. Inheritance</h3>
    <pre><code class="javascript">var Employee = declare(Person, {
    constructor: function (name, age, city, salary) {
        // parent class constructor is called automatically before this one.

        this.salary = salary;
    },

    askForRaise: function () {
        return this.salary * 0.1;
    }
});

var Boss = declare(Employee, {
    askForRaise: function () {
        return this.inherited(arguments) * 5;
    }
});

var radek = new Progammer("Radek", 30, "Poznań", 1000),
    magda = new Boss("Magda", 24, "Międzychód", 2000);

console.log(radek.askForRaise(), magda.askForRaise()) // 100, 1000</code></pre>
</div>